@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Passions+Conflict&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{

--1color: #5b4b50; 
--2color: #8cbdb1; 
--3color:#f2ebbf; 
--4color: #f2b562; 
--5color: #ef6060; 
}

body{    
    height:600px;
    width:auto;
    margin:0px;
    padding: 0px;
    overflow: hidden;
    background-image:linear-gradient(to right,var(--5color),var(--4color),var(--2color));
}

main{
    height: 100vh;
    width: 100vw;
    position:relative;
    top:20px;
}


header{
    position: absolute;
    background-color: #5b4b5067;
    top: 25px;
    left: 50%;
    height: 50px;
    width: 620px;
    border-radius: 16px;
    border: 4px solid #fcfbfb4b;
    padding: 12px;
    font: normal bolder 1em "Wellfleet";
    text-align: center;
   
}
    header>h1{
        color: white;
        text-shadow:2px 2px 2px #ffc1d4;
       margin:0px;
       
    }

section#pc{
    position: absolute;
    background-color: #ef6060;
    margin: 0px;
    top: 0px;
    left: 0%;
    height: 577px;
    width:600px;
    transform: translate(50px,0px);
    border-radius: 6%;
    border: 4px solid #fcfbfb4b;
    background: url("imagens/pc-iphone600.png") no-repeat bottom center;
} 
iframe#pc{
    background-color: aqua;
    display: inline-block;
    position: absolute;
    top:30%;
    left: 48%;
    transform: translate(-50%,-50%);
    height: 250px;
    width:345px;
    border-radius:7%;
}

iframe#iph{
    display: inline;
    background-color: lime;
    top:7px;
    left: 52%;
    transform: translate(250%,-100%);
    height: 188px;
    width:85px;
    border-radius:6%;
}
#tex{
    position: absolute;
    background-color: #5b4b5067;
    top: 102px;
    left: 50%;
    height: 450px;
    width: 620px;
    border-radius: 16px;
    border: 4px solid #fcfbfb4b;
    padding: 12px;
    font: normal bolder 1em "Wellfleet";
    text-align: center;
}
div{
    background-color: var(--4color);
    margin-top: 0px;
    margin: 13px;
    left:50%;
    height: 90px;
    text-align:center;
    border-radius: 10%;
    color: white;
    font: normal larger 1em Nunito;
}

#and>h1{

    display: block;
    background-color: var(--5color);
    font: normal bolder 1em arial;
    margin: 0px;
    height: 30px;
    padding: 0px;
    text-decoration: none;
    text-decoration-line: none;
}

div>p{
    background-color: var(--2color);
    display: inline-block;
    height: 25px;
    width: 100px;
    margin: 17px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 6%;
    font: normal bold 15pt Nunito;
    top:20px;
}

#and{
    top:0px;
}

#and>a{
    background-color: #ef6060;
    font:normal lighter .7em arial;
    top:10px;
    left:50%;
    height: 10px;
    width: auto;
    text-decoration: none;
    color: black;
    border-radius: 6%;
}
 #and>a:hover{
    background-color:var(--1color);
 }